/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Slab');
/* CSS Variables */
:root {
        --primary: #ddd;
        --dark: #333;
        --light: #fff;
        --green: #8bdb66;
        --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);    
}
/* Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: var(--light);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

/* Quiz Layout */

.wrapper {
    max-width: 900px;
    display: grid;
    grid-gap: 20px;
    margin: auto;
}

.main-quiz {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'questions questions right-box-a'
        'questions questions right-box-b' 
}

.right-box {
    background: var(--dark);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.right-box-a {
    grid-area: right-box-a;
    border-radius: 1.5rem;
    min-height: 200px;
    font-size: 1.5rem;
}

.right-box-b {
    grid-area: right-box-b;
    border-radius: 1.5rem;
    min-height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.questions {
    grid-area: questions;
    min-height: 400px;
    background: var(--dark);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: 1.5rem;
}

.questionnum, .numcorrect {
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

.intro, .correct-answer, .wrong-answer, .final-results {
    text-align: center;
    margin: auto;
}

.correct-answer, .wrong-answer, .final-results {
    width: 100%;
}

.correct-answer .fa-thumbs-up, .wrong-answer .fa-thumbs-down {
    padding: 30px;
}

/* Font Styling */

.fa-spray-can {
    font-size: 3.5rem;
}

.final-correct {
    font-size: 5rem;
    padding-bottom: 20px;
}

#correct-answer-string {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-top: 0;
}

.fa-arrow-right, .fa-undo {
    color: var(--dark)
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: var(--dark);
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

.intro p,.correct-answer p, .wrong-answer p {
    font-size: 2rem;
    padding: 20px;
    font-weight: bold;
}

.correct-answer p, .wrong-answer p {
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
}

.intro .btn, .correct-answer .btn, .final-results .btn {
    font-weight: bold;
}


sup {
    font-size: 1.2rem;
}

/* Form Styling */
form {
    width: 100%;
}

fieldset {
    border: none;
    font-size: 2.3rem;
}

.form-radio {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before {
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover {
     background-color: var(--green);
}
.form-radio:checked {
     background-color: var(--green);
}
label {
     font-size: .9rem;
     cursor: pointer;
     padding: 20px;
     transition: color .8s;
     transition-timing-function: ease-in-out;
} 

label:hover {
    color: var(--green);
}

.btn {
    color: var(--dark);
    width: 100%;
    padding: 1rem 1.3rem;
    text-decoration: none;
    border: 0;
    margin-top: 1.5rem;
    font-size: 2rem;
}

/* Media Queries */

@media(max-width: 700px) {
    .main-quiz {
        grid-template-areas: 
        'questions questions' 
        'right-box-a right-box-b'
    }

    h1 {
        font-size: 2.5rem;
    }

    fieldset {
        font-size: 1.8rem;
    }
}

@media(max-width: 500px) {
    .main-quiz {
        grid-template-areas: 
        'questions'
        'right-box-a'
        'right-box-b'
    }

    h1 {
        font-size: 1.7rem;
    }

    fieldset {
        font-size: 1.3rem;
    }

}